</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Powered by Francesco Borriello | <a href="https://www.linkedin.com/in/francesco-borriello/">Visit the
                Linkedin profile</a>.</p>
    </div>
</footer>


<script src="{{ BASE_URL }}js/bootstrap.bundle.min.js"></script>
<script src="{{ BASE_URL }}js/fileUpload.js"></script>
<script src="{{ BASE_URL }}js/deleteFile.js"></script>


</body>
</html>
